.about-container {
	margin: 0.5rem auto;
	max-width: 1000px;
}
h2 {
	color: var(--title-text-color);
	text-align: center;
	font-size: 2rem;
	margin-top: 3rem;
}
.skills {
	color: var(--accent-text-color);
	text-decoration: underline;
}
.skills:hover {
	filter: brightness(1.15);
}
p {
	color: var(--regular-text-color);
	font-size: 1.5rem;
	text-align: center;
	margin: 2rem auto;
}
.lists-container {
	display: flex;
	flex-wrap: wrap;
	color: var(--regular-text-color);
}
.lists-container ul {
	display: flex;
	flex-direction: column;
	width: 25%;
	min-width: 100px;
	margin: 0 auto;
	list-style: initial;
}
.lists-container li {
	line-height: 1.5rem;
}
