.about-container {
	margin: 0.5rem auto;
	max-width: 1000px;
}
h2 {
	color: var(--title-text-color);
	text-align: center;
	font-size: 2.5rem;
	margin: 5rem 2rem 4rem 2rem ;
}
.skills {
	color: var(--accent-text-color);
	text-decoration: underline;
}
.skills:hover {
	filter: brightness(1.15);
}
p {
	color: var(--regular-text-color);
	font-size: 1.5rem;
	text-align: center;
	margin: 2rem auto;
}
.lists-container {
	display: flex;
	flex-wrap: wrap;
	color: var(--regular-text-color);
    /* justify-content: center; */
    width: 90%;
    margin: 0 auto;
}
.lists-container ul {
	display: inline-flex;
	flex-direction: column;
	width: 25%;
	min-width: 100px;
	margin: 0 auto;
	/* list-style: initial; */
    /* align-items: flex-start; */
    padding: .5rem 1rem;
}
.lists-container li {
	line-height: 1.5rem;
}
