.footer-container {
	position: fixed;
	bottom: 0;
	right: 0;
	background-color: var(--accent-text-color);
	color: white;
	border-top-left-radius: 1rem;
}
.icons {
	font-size: 1.65rem;
	padding: 0.1rem 0.4rem;
}
.icons:hover {
	transform: scale(1.1);
}
