nav {
	background-color: var(--header-color);
	width: 100%;
	color: white;
	font-size: 1.25rem;
	text-align: center;
	/* margin: 0; */
}

ul {
	list-style: none;
	display: inline-flex;
	width: 90%;
	margin: 1rem;
	padding: 0.5rem 0.25rem;
	justify-content: space-between;
	max-width: 800px;
	align-items: center;
}
a {
	text-decoration: none;
	color: inherit;
}
nav a:hover {
	filter: brightness(1.9);
}
