.projects-container {
	margin: 0.5rem auto;
	max-width: 1000px;
}

.projects-container h2 {
	color: var(--accent-text-color);
}
.projects {
	margin: 0 auto;
    text-align: center;
}

.project-image {
	width: 40%;
	padding: 1.5rem;
    min-width: 325px;
    border-radius: 2rem;
}
.project-image:hover {
    box-shadow: .1115rem .1115rem .1115rem .1115rem  var(--accent-text-color);

}
