:root {
	--header-color: rgba(135, 186, 235);
	--title-text-color: rgba(96, 165, 217);
	--accent-text-color: rgba(119, 169, 76);
	--regular-text-color: rgba(133, 133, 133);
}
* {
	/* border: 1px solid red; */
	font-family: 'Gochi Hand', 'marker_feltregular', Arial, sans-serif;
	font-size: 1.2rem;
	line-height: 1rem;
}

body {
	min-height: 100vh;
	background-color: var(--header-color);
	background-image: url('../assets/background.png');
	background-size: cover;
	background-repeat: no-repeat;
	color: var(--grey);
}
